.todo-band {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  .item {
    &[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 16px;
      height: 16px;
      border-radius: 4px;
      padding: 2px;
      position: relative;
    }

    &[type="checkbox"]:not(:checked) {
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
      background-color: salmon;
    }

    &[type="checkbox"]:checked {
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
      background-color: forestgreen;
    }

    &[type="checkbox"]:checked::before {
      content: "\2713";
      display: block;
      position: absolute;
      top: -2px;
      left: 2px;
      font-size: 14px;
      color: bisque;
      font-weight: bold;
    }
  }
  .item-name {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;

    &.checked {
      text-decoration: line-through;
    }
  }
  .counter {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    margin-left: auto;
    button {
      background: transparent;
      border: none;
      color: blanchedalmond;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:active {
        color: blue;
      }
    }
  }
}
